@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  padding: 8px 8px 0 8px;
  line-height: 1.5;
}

main {
  min-height: calc(100vh - 56px);
  height: 1px;
}
