@import './variables';

.tab-list {
  display: flex;
  align-items: center;
  gap: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  overflow: hidden;
  width: 100%;

  &--empty {
    width: 100%;
  }

  &__button {
    border: none;
    background-color: transparent;
    height: 32px;
    width: 32px;

    &:hover {
      cursor: pointer;
    }
  }
}
