@import './variables';

.tabs {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: calc(100% - 48px);
  }

  &__button {
    border: none;
    background-color: transparent;
    height: 32px;
    width: 32px;

    &:hover {
      cursor: pointer;
    }
  }
}
